.app {
  min-height: 100vh;
  background-color: white;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 1.875rem; // 30px
    font-weight: 600;
    color: #1f2937; // text-gray-800
    margin-bottom: 0.5rem;
  }

  p {
    color: #4b5563; // text-gray-600
    font-size: 1.125rem; // 18px
  }
}

.map-wrapper {
  position: relative;
}

.legend {
  position: absolute;
  bottom: 15.5rem;
  left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid #e5e7eb; // border-gray-200
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  h3 {
    font-size: 0.875rem; // 14px
    font-weight: 600;
    color: #1f2937; // text-gray-800
    margin-bottom: 0.75rem;
  }

  .legend-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .color-box {
      width: 1rem;
      height: 1rem;
      border-radius: 2px;
    }

    span {
      font-size: 0.75rem;
      color: #374151; // text-gray-700
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.top-legend-country {
  position: absolute;
  bottom: 0rem;
  left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid #e5e7eb; // border-gray-200
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  h3 {
    font-size: 0.875rem; // 14px
    font-weight: 600;
    color: #1f2937; // text-gray-800
    margin-bottom: 0.75rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 0.75rem; // text-sm
      color: #374151; // text-gray-700
      margin-bottom: 0.25rem;

      b {
        font-weight: 600;
        color: #1d8131; // text-gray-800
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.button-55 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  svg {
    font-size: 20px;
  }
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
// /* Parent background */
// #F5F5FA
