@tailwind base;
@tailwind components;
@tailwind utilities;

/* Senin custom CSS class’ların bunlardan sonra gelmeli */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  word-spacing: 4px;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

:root {
  --bg-color: #0b0b0b;
  --text-color: #f2f2f2;
}

:root.light {
  --bg-color: #ffffff;
  --text-color: #111111;
}

input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:active {
  transform: scale(0.95) !important;
}